<h1 class="my-5 text-center">Contactame</h1>

<div class="card">
  <h5 class="card-header">Desarrollador</h5>
  <div class="card-body">
    <h5 class="card-title">Buscanos en mis redes sociales</h5>
    <p class="card-text">"Soy un desarrollador web apasionado con una habilidad innata para transformar ideas en soluciones digitales innovadoras y funcionales. Mi compromiso con la excelencia y la satisfacción del cliente me distingue, garantizando resultados que superan expectativas. Trabajo con dedicación y creatividad para llevar cada proyecto a su máximo potencial."</p>
    <a href="#" class="btn btn-primary boton">📲  Contactame</a>
  </div>
</div>
