<h1 class="my-5 text-center">Proyectos realizados</h1>

<div class="card mb-3" style="max-width: 540px50%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'martin.png', class: "img-fluid rounded-start max-width: 100% " %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Mi Primera pagina web</h5>
        <p class="card-text">Este es el primer proyecto realizado en html el cual consiste en realizar una pagina werb como curriculum vitae de algun personaje a eleccion.</p>
        <p class="card-text"><small class="text-body-secondary">Martin Lutero</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card mb-3" style="max-width: 540px50%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'suricata.png', class: "img-fluid rounded-start max-width: 100% " %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Suricata - pagina web</h5>
        <p class="card-text">Este es el primer proyecto realizado en html el cual consiste en realizar una pagina werb como curriculum vitae de algun personaje a eleccion.</p>
        <p class="card-text"><small class="text-body-secondary">Martin Lutero</p>
      </div>
    </div>
  </div>
</div>

<br>


<div class="card mb-3" style="max-width: 540px50%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'cuppon.png', class: "img-fluid rounded-start max-width: 100% " %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cuppon - pagina web</h5>
        <p class="card-text">Este es el primer proyecto realizado en html el cual consiste en realizar una pagina werb como curriculum vitae de algun personaje a eleccion.</p>
        <p class="card-text"><small class="text-body-secondary">Martin Lutero</p>
      </div>
    </div>
  </div>
</div>